@import '@radix-ui/colors/violet.css';

body {
  overflow: hidden;
}
.SeparatorRoot {
  background-color: var(--violet-6);
}
.SeparatorRoot[data-orientation='horizontal'] {
  height: 1px;
  width: 100%;
}
.SeparatorRoot[data-orientation='vertical'] {
  height: 100%;
  width: 1px;
}

.mainflex {
  height: 70rem;
  flex-direction: column;
  background-color:rgb(99, 128, 196);
  z-index: -1;
  overflow: hidden;
}

.topNavBar{
  display: flex;
  background-color: rgb(216, 195, 236);
  height: 2rem;
  flex-direction: row;
  justify-content: space-between;
 align-items: center;
 padding: 12px;
 
}

.content {
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  height: 95vh;

  /* background-color:black; */
  /* justify-content: flex-start;*/
  /* align-items :stretch;  */
  /* gap: 1.3rem; */
}

.sideBar{
  display: flex;
  padding: 8px;
  /* height: 40rem; */
  flex-direction: column;
  background-color: rgb(255, 255, 255);

  /* align-content: flex-end; */
align-items: flex-end;
overflow: scroll;
}

.editor {
  /* background-color: bisque; */
  display: flex;
  flex:1;
  padding: 8px;
  /* height: 95vh; */
  /* flex: 1; */
  flex-direction: column;
  align-content: stretch;
  /* background-color: blue; */
  /* height: 0vh; */
  /* flex-direction: column;
  align-items :stretch; */
}


.editor-1{
  display: flex;
  height:6rem;
  padding: 8px;
  width: auto;
  gap: 1.5rem;
  justify-content:flex-start;
  flex-direction: row;
}

.editor-2{
  display: flex;
  flex-direction: column;
  height: 90rem;
  width: 76rem;
  padding: 8px;
  gap: 1.5rem;
  /* background-color: brown; */
}


.editarea{
  gap: 1.5rem;
  display: flex;
  padding: 8px;
  overflow: scroll;
}

.filelist{
  display: flex;
  width: 15rem;
}

.topnav-1 {
  align-items: center;
}


.mobilecontent{
  display: none;
}

@media only screen and (max-width: 600px) { 
 
  .mainflex {
    height: 70rem;
    flex-direction: column;
    background-color:rgb(99, 128, 196);
    z-index: -1;
    overflow: hidden;
    justify-content: flex-start;
  }

  .topNavBar{
    display: flex;
    background-color: rgb(216, 195, 236);
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
   align-items: center;
   padding: 12px;
   flex-shrink: 2rem;
  }
  
  .sideBar{
    /* display: flex;
    flex-direction: column;
    background-color: brown;
    height: 70rem;
    width: 20rem;
    flex-grow: 4; */
    display: none;
  }

  
  .mobilecontent{
    display: flex;
  }

.editor-2{
    display: flex;
    flex-direction: column;
    height: 90rem;
    width: 25rem;
    align-items: center;    
    /* background-color: brown; */
}

  /* .content {
    /* display: flex;
    background-color: red;
    flex-direction: column;
   
      gap: 1.5rem;
    align-items: center  ;    
    overflow: scroll; */
    /* flex-wrap: nowrap; */

    /* background-color:black; */
    /* justify-content: flex-start;*/
    /* align-items :stretch;  */
    /* gap: 1.3rem; */
  /* } */

   .content {
    display: flex;
    /* background-color: red; */
    flex-direction: column;
   
      gap: 1.5rem;
    align-items: center  ;    
    overflow: scroll;
    /* flex-wrap: nowrap; */

    /* background-color:black; */
    /* justify-content: flex-start;*/
    /* align-items :stretch;  */
    /* gap: 1.3rem; */
   } 
  

  .topNavBar .topnav-1{
    display: none;
  }

  .topNavBar .newSide{
    display: flex;
  }
  
}