body {margin:0;overflow: hidden;}

.layout{
  display: flex;
  /* justify-content: space-evenly; */
  /* justify-items: center; */
  /* background-color: red; */
  flex-direction: Row;
  height: 100vh;
  
}